@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Takes snapshot of data from yahoo finance account with a portfolio of 10 stocks.Created using C#, Asp.net Core, EntityFramework Core and Selenium</p>
