@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Takes snapshot of data from yahoo finance account with a portfolio of 10 stocks.Created using C#, Asp.net Core, EntityFramwork Core and Selenium</p>
