@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
				<h2>Finance Scraper</h2>
                <p>Take a snapshot of data from Yahoo Finance</p>
                <p>Built using C#, EntityFramework and other .NET technologies</p>
                <button type = "button" class = "btn btn-primary btn-lg"><a style = "color: white" asp-controller="Stocks" asp-action="Index">Get Started</a></button>

</div>
